In [1]:
import os, sys
import math
import time
import datetime as dt

import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

import matplotlib.pyplot as plt
import seaborn as sns

from tqdm import tqdm
from sklearn.model_selection import train_test_split
from sklearn.metrics import *

import lightgbm as lgb
from lightgbm import LGBMClassifier
from catboost import CatBoostClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import StratifiedKFold
import warnings
warnings.filterwarnings(action='ignore')

C:\Users\heian\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
%%time

PATH = 'data/' 
train_err = pd.read_csv(PATH+'train_err_data.csv')
#train_quality = pd.read_csv(PATH+'train_quality_data.csv')
test_err = pd.read_csv(PATH+'test_err_data.csv')
#test_quality = pd.read_csv(PATH+'test_quality_data.csv')
train_prob = pd.read_csv(PATH+'train_problem_data.csv')
#submission =  pd.read_csv(PATH+'sample_submission.csv') # total : 19.8 s

Wall time: 48.2 s

In [3]:
#3. [err] errtype
train_err_unique_errtype = train_err[['user_id', 'errtype']].drop_duplicates().groupby('user_id').count()
test_err_unique_errtype = test_err[['user_id', 'errtype']].drop_duplicates().groupby('user_id').count()
train_err_unique_errtype.columns = ['err_unique_errtype']
test_err_unique_errtype.columns = ['err_unique_errtype']

         err_unique_errtype
user_id
10000                    14
10001                    26
10002                    16
10003                    18
10004                    18
...                     ...
24995                    17
24996                     4
24997                    21
24998                    14
24999                    12

[15000 rows x 1 columns]